# Backend (Spring / Maven)
**/target/

# Frontend (Node)
frontend/node_modules/
frontend/build/

# Java
**/*.class
**/*.jar
**/*.war

# Logs
**/*.log

# OS files
**/.DS_Store
**/Thumbs.db

# Env files
**/.env
**/.env.*


# Temp files
**/*.tmp
**/*.swp

# IDEs
## VS Code
.vscode/


## IntelliJ
.idea
*.iws
*.iml
*.ipr

## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
**/dist/
/nbdist/
/.nb-gradle/
#build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#cache
**/.cache/
**/.parcel-cache/
**/.turbo/